<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HelBIS - помощник для начинающих предпринемателей">
    <meta name="keywords" content="Бизнес, Предприниматели, Предпринимательская деятельность, История успеха">
    <meta name="author" content="Гофман Евгений и Григорьев Алексей">
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Главная страница "HelBIS"</title>
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="logo-box">
                    <a href="/auth/home">
                        <img src="/img/LOGO.png">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li class='active'><a href="/auth/home">About</a></li>
                        <li><a href="/category">Category</a></li> <!--cccheck link-->
                        <li><a href="/history">History</a></li>
                        <li><a href="/premium">Premium</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </header> 

        <div class="containerAbout">
            <div class="containerContentAboutOne">
                <div>
                    <h1 class="h1AboutNumberOne">HELBIS</h1>
                    <p class="textAboutNumberOne">
                        Увлеченная творческая студия, помогающая стартапам развивать свой бизнес!
                    </p>
                </div>
            </div>
        </div>

        <div class="containerAbout">
            <div class="containerContentAboutTwo">
                <div class="textAboutTwo">
                    <h1>Универсальный</h1>
                    <h1>помощник</h1>
                    <p>
                        для предпринимателей, который призван помочь освоится и понять основные моменты данной деятельности, 
                        а так же популяризировать предпринимательскую деятельность.
                    </p>
                    <p>
                        предпринимательство не является чем то невозможным, по помогаем в этом убедиться.
                    </p>
                </div>
            </div>
        </div>

        <div class="containerAbout">
            <div class="containerContentSlide" style="display: inline-flexbox; justify-content: center; align-items: center;">
                <div class="containerContentAboutSlide">
                    <div  class="">
                        <div class="slideAbout">
                            <div class="description" style="display: flex;">
                                <h2>ОБУЧЕНИЕ</h2>
                                <p>
                                    Подскажем какие знания необходимы для начала своего дела
                                </p>
                            </div>
                            <img src="/img/sliderOne.png">
                        </div> 
                    </div>
                    <div class="">
                        <div class="slideAbout">
                            <div style="display: flex;">
                                <h2>ИСТОРИЯ УСПЕХА</h2>
                                <p>
                                    Расскажем про истории становления успешных людей, раскроем их секреты успешного ведения бизнеса                            </p>
                            </div>
                            <img src="/img/sliderTwo.png">
                        </div> 
                    </div>
                    <div>
                        <div class="slideAbout">
                            <div style="display: flex;">
                                <h2>С ЧЕГО НАЧАТЬ?</h2>
                                <p>
                                    Поможем начать путь предпринемателя, от идеи до ее реализации                            </p>
                            </div>
                            <img src="/img/sliderOne.png">
                        </div> 
                    </div>  
                </div>
            </div>
        </div>

        <div class="containerContentAbout" style="background-color: #000000;">
            <ul class="new__list">
                <li class="new__li">
                  <div class="new__item">
                    <div class="new__item-block">
                      <h3 class="new__item-head">Актуальность</h3>
                      <p>
                        По результатам опроса, проведенного центром молодежных инициатив АСИ среди более 2 тыс. 
                        учеников старших классов по теме молодежного предпринимательства, необходимо улучшать предпринимательскую 
                        грамотность среди молодежи. Так, 88% респондентов хотят развивать бизнес или уже занимаются этим. 
                        При этом более 50% опрошенных боятся начинать свое дело из-за нехватки знаний о предпринимательстве и 
                        отсутствия навыков ведения бизнеса.
                      </p>
                    </div>
                  </div>
                  <div class="new__item">
                    <div class="new__item-block">
                      <img class="" src="/img/imgActyality.png" alt="">
                    </div>
                  </div>
                </li>
                <li class="new__li">
                  <div class="new__item">
                    <div class="new__item-block">
                      <h3 class="new__item-head">Проблема</h3>
                      <p>
                        Мы решаем проблему стандартно-общепринятой элитарности темы бизнеса. 
                        Оглядываясь на опрос, многие думают что это недостижимая цель ввиду необходимости 
                        особых знаний. Мы предлагаем эти знания и убеждаем что предпринимательство не является 
                        чем то невозможным или открытым только для особых людей.
                      </p>
                    </div>
                  </div>
                  <div class="new__item">
                    <div class="new__item-block">
                      <img class="" src="/img/imageProblem.png" alt="">
                    </div>
                  </div>
                </li>
              </ul>
        </div>

        <div class="containerContentAbout">
            <div class="textAboutTeam">
                <h1>Команда</h1>
                <hr class="hrAboutTeam">
            </div>
            <div class="container-1-2">
                <div class="containerTeamOne">
                    <div class="contentTeamComponent">
                        <div class="contentTeamComponentWrap">
                            <div class="contentTeamComponentItem"><img src="/img/TeamOne.png" alt="">
                            </div>
                            <div class="contentTeamComponentText">
                                <h2>Гофман Евгений Владимирович</h2>
                                <p>Frontend-разработчик</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerTeamTwo">
                    <div class="contentTeamComponent">
                        <div class="contentTeamComponentWrap">
                            <div class="contentTeamComponentText">
                                <h2>Григорьев Алексей Евгеньевич</h2>
                                <p>Backend-разработчик</p>

                            </div>
                            <div class="contentTeamComponentItem"><img src="/img/TeamTwo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerContentAbout" style="background-color: #000000;">
            <div>
                <button class="buttonAboutOne" onclick="location.href='';"  type="submit">
                    <div class="buttonAbout">
                        <img src="/img/briefcase.png" alt="">
                        <h1>Есть желание работать вместе?</h1>
                        <p>Прекрастно! Расскажите нам о своей задумке!</p>
                    </div>
                </button>
            </div>    
            <div>
                <button class="buttonAboutTwo" onclick="location.href='';"  type="submit">
                    <img src="/img/mail.png" alt="">
                    <h2>Контакты</h2>
                </button>
            </div>   
        </div>

        <footer class="footer">
            <div class="footer">
                <p class="textInfo">
                    Телефон: +7(937)-211-00-39
                </p>
                <p class="textInfo">
                    Почта: alex0072223@mail.ru
                </p>
                <div class="row">
                    <ul class="social-icon">
                        <li class="social-icon__item"><a class="social-icon__link" href="#">
                            <ion-icon name="logo-vk"></ion-icon>
                          </a></li>
                        <li class="social-icon__item"><a class="social-icon__link" href="#">
                            <ion-icon name="logo-youtube"></ion-icon>
                          </a></li>
                      </ul>
                </div>
                <div class="row">
                    <ul class="menu">
                        <li class="menu__item"><a class="menu__link" href="/auth/home">About</a></li>
                        <li class="menu__item"><a class="menu__link" href="/category">Category</a></li>
                        <li class="menu__item"><a class="menu__link" href="/history">History</a></li>
                        <li class="menu__item"><a class="menu__link" href="/premium">Premium</a></li>
                        <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>
                        <li class="menu__item"><a class="menu__link" href="/profile">Profile</a></li>
                    </ul>
                    <p>&copy;2023 Дипломная работа | ПГУТИ </p>
                </div>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
    </div>
    </div>
</body>
</html>