<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>"HelBIS"</title>
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="logo-box" src="">
                    <a href="/auth/home">
                        <img src="/img/LOGO.png">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/auth/home">About</a></li>
                        <li class='active'><a href="/category">Category</a></li>
                        <li><a href="/history">History</a></li>
                        <li><a href="/premium">Premium</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </header>  
        <div class="containerContentBlock">
            <div>
                <div class="containerMainNews">
                    <div class="container-1-2">
                        <a class="containImgNews" href=""> 
                            <img class="imgAvaID" src="/img/magnit.jpg">
                        </a>
                    </div>
                    <div class="container-1-2">
                        <h3 class="headlineBisnesName">
                            Магнит
                        </h3>
                        <p class="textBisnesId">
                            Российская розничная сеть
                        </p>
                        <p class="textBisnesId">
                            Текущая рыночная капитализация компании Магнит составляет 457.2 млрд руб.
                        </p>
                        <p class="textBisnesId">

                        </p>
                    </div>
                </div>
                <div class="containerNews">
                    <div>
                        <p class="textBisnesIdHistory">
                            1994 — 1998

                            Основание Сергеем Галицким компании по оптовой торговле товарами бытовой химии «Тандер»;
                            Активное развитие сети оптовых магазинов и вхождение в десятку крупнейших российских дистрибьюторов косметики, бытовой химии и парфюмерии;
                            Выход на рынок продуктового ритейла в формате Cash&Carry.

                            1998 — 2001

                            Появление бренда «Магнит» (Магазин Низких Тарифов) и начало развития сети под новым брендом;
                            Создание собственного автотранспортного предприятия — компании «Сельта»;
                            Запуск первой линейки товаров под собственной торговой маркой;
                            Переход «Магнита» на модель дискаунтера;
                            Открытие первых 160 магазинов, что выводит «Магнит» на лидирующие позиции в России по размеру сети.
                            <br>
                             <h1>2002 — 2005</h1>


                            Открытие первого распределительного центра в Кропоткине, Краснодарский край;
                            Перезапуск всей сети в формате магазинов «у дома», являющийся ключевым для «Магнита» и сейчас;
                            Стремительное развитие сети магазинов: 1,5 тыс. торговых точек на конец 2005 года;
                            «Магнит» закрывает бизнес по оптовым продажам косметики и бытовой химии, полностью концентрируется на розничном бизнесе;
                            <br>
                            <h1>2006 — 2009</h1>


                            Первичное размещение акций (IPO) на Лондонской фондовой бирже;
                            Запуск нового формата — компактного городского гипермаркета;
                            Статус самой быстрорастущей розничной компании мира по мнению Deloitte;
                            Вторичные размещения акций (SPO) на Лондонской фондовой бирже, привлеченные средства идут на развитие сети;
                            «Магнит» первым из ритейлеров переходит на собственный импорт самых востребованных товаров.
                            <br>
                            <h1>2010 — 2012</h1>


                            Открытие первого магазина формата дрогери «Магнит Косметик»;
                            Запуск собственного производства овощей и зелени — тепличного комплекса «Зеленая линия» в Краснодарском крае;
                            «Магнит» становится крупнейшим частным работодателем в России и сохраняет этот статус по сей день;
                            Появление нового формата — «Магнит Семейный»
                            <br>
                             <h1>2013 — 2015</h1>


                            Крупнейшая розничная компания по количеству магазинов, торговых площадей, эффективности и объему продаж;
                            Капитализация «Магнита» на Московской бирже превысила 1 трлн рублей;
                            «Магнит Косметик» становится крупнейшей по размеру сетью дрогери в России;
                            В «Магнитах» появилась возможность оплачивать покупки по банковской карте, а также первые кассы самообслуживания;
                            Число магазинов «Магнита» превысило 10 000;
                            Начало строительства собственного Индустриального парка «Краснодар».
                            <br>
                             <h1>2016 — 2018</h1>


                            Запуск новых форматов «Магнит Аптека» и «Магнит Опт»;
                            Открытие первого распределительного центра за Полярным кругом (Мурманск) и 37-го по счету для компании;
                            Запуск в Краснодарском крае собственного завода по выращиванию шампиньонов;
                            Приобретение Группой ВТБ 29,1% пакета акций «Магнита» и сложение полномочий Сергеем Галицким;
                            Презентация стратегии развития до 2023 года;
                            Начало работы первого резидента Индустриального парка Краснодар — «Кубанского комбината хлебопродуктов»;
                            «Магнит Косметик» становится крупнейшим игроком на рынке розничных продаж косметики и парфюмерии в России.
                            <br>
                        <h1>2019</h1>


                            Назначение Яна Дюннинга президентом и генеральным директором компании;
                            Презентация нового кроссформатного бренда для всех магазинов «Магнит»;
                            Открытие 20 000-го магазина «у дома» и 5 000-го «Магнит Косметик»;
                            Запуск в Индустриальном парке «Краснодар» второго резидента — «Кондитера Кубани»;
                            Тестирование новых форматов — суперстор, «Магнит Сити»;
                            Запуск собственной программы лояльности «Магнит» для покупателей;
                            Начало партнерства «Магнита» с Российским Футбольным Союзом и Сборной России по футболу;
                            Запуск новой логистической стратегии «Цепочка Свежести».
                            <br>
                           <h1>2020</h1>

                            Завершение ролл-аута программы лояльности во всех регионах присутствия компании;
                            Партнерство с P&G по созданию самой большой сети фандоматов в России;
                            Запуск социальной программы #МагнитЗабота и предоставление свыше 350 тыс. продуктовых наборов;
                            Назначение Флориана Янсена исполнительным директором «Магнита» и ускорение масштабной цифровой трансформации;
                            Принятие Стратегии в области устойчивого развития до 2025 года;
                            Запуск корпоративного акселератора для поиска инноваций MGNTech;
                            Открытие первых дискаунтеров «Моя цена»;
                            Развитие e-com и e-pharma: запуск шести онлайн-проектов доставки – собственных и партнерских;
                            Открытие нового распределительного центра в Новосибирске и восстановленного РЦ в Воронеже;
                            Присоединение к Глобальному договору ООН;
                            Открытие магазина «у дома» в формате для крупных городов;
                            Старт этапа реализации программы трансформации E;
                            Открытие первых тематических суперсторов;
                            Запуск программы «Зеленый офис»;
                            Открытие первых торговых точек в Ингушетии;
                            Запуск Magnit Pay;
                            Внедрение единой системы прогнозирования спроса на товары и планирования запасов на базе Relex Solutions.
                            <br>
                            2021

                            Старт пилотирования формата киосков;
                            Открытие нового РЦ в Сургуте;
                            Запуск совместной с крупнейшими FMCG брендами инициативы «Вместе за здоровое будущее»;
                            Открытие пилотных магазинов «Магнит Мастер»;
                            Запуск первых дарксторов в Москве;
                            Открытие первых магазинов в Дагестане;
                            MSCI повысило ESG-рейтинг «Магнита» до уровня BBB;
                            Приобретение розничной сети «Дикси» и старт процесса интеграции компаний;
                            Запуск программы клубов для покупателей в программе лояльности;
                            Открыт первый «Магнит Косметик» в обновленном формате;
                            Приобретение прав аренды на магазины сети «Эдельвейс» в Казани;
                            Банк ВТБ продал Marathon Group свою долю в Компании;
                            Приобретение прав аренды на магазины сети «Радеж» Волгограде;
                            Преодолен рубеж в 100 тыс. онлайн-заказов в сутки.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            <div class="footer">
                <p class="textInfo">
                    Телефон: +7(937)-211-00-39
                </p>
                <p class="textInfo">
                    Почта: alex0072223@mail.ru
                </p>
                <div class="row">
                    <ul class="social-icon">
                        <li class="social-icon__item"><a class="social-icon__link" href="#">
                            <ion-icon name="logo-vk"></ion-icon>
                          </a></li>
                        <li class="social-icon__item"><a class="social-icon__link" href="#">
                            <ion-icon name="logo-youtube"></ion-icon>
                          </a></li>
                      </ul>
                </div>
                <div class="row">
                    <ul class="menu">
                        <li class="menu__item"><a class="menu__link" href="/auth/home">About</a></li>
                        <li class="menu__item"><a class="menu__link" href="/category">Category</a></li>
                        <li class="menu__item"><a class="menu__link" href="/history">History</a></li>
                        <li class="menu__item"><a class="menu__link" href="/premium">Premium</a></li>
                        <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>
                        <li class="menu__item"><a class="menu__link" href="/profile">Profile</a></li>
                    </ul>
                    <p>&copy;2023 Дипломная работа | ПГУТИ </p>
                </div>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>